/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/tsq5whw.css");

$color-whiteMana: #E9EDD8;
$color-lorange: #F26A25;
$color-nepaliGreen: #0C978B;
$color-laCelesteBlue: #76CFE2;
$color-intiYellow: #FEE011;
$color-sonicSilver: #777777;
$color-white: #FAFAFA;
$color-black: #10100F;


.space {
  height: 720px;
}

/* BODY - Background */
body {
    position: relative;
    padding: 18px;
    background-color: $color-whiteMana;
    width: 100%; 
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
}

#grain{
    z-index:-1;
    content:"";
    position: absolute;
    width: 300vw;
    height: 310vh;        
    left: -50%;
    top: -50%;
    opacity: 0.18;
    background-image: url('/assets/grain-black.png');  
    background-repeat: repeat;
}

/* GUI */
#gui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*NAV*/
.navbar {
    justify-content: flex-end;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-black;
    font-weight: 400;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $color-nepaliGreen;
}

//.navbar-expand-lg .navbar-nav {
//    flex-direction: column;
//}


/* LOGO */
#juan {
  display:none; 
}

.logo {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 48px;
    height: auto;
    z-index: 2000;
    
    cursor: pointer;
    
    &.heart {
        top: auto;        
        bottom: 18px;          
    }
}

.particular {
    position: absolute;
    bottom: 21px;
    right: 23px;
    
    .seed {        
        width: 27px;
        height: auto;
    }
}



/* TEXT */
h1,h2,h3,h4,h5,h6,p {
    color: $color-black;
}

h1 { 
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 32px 0 8px;
}

h2 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 24px 0 8px;
}

h3 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 16px 0 8px;
}

p {
  line-height: 150%;
  font-size: 16px;
  margin: 0 0 24px;
}

a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
   
    .underline {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
}


