/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/tsq5whw.css");

$color-whiteMana: #E9EDD8;
$color-lorange: #F26A25;
$color-nepaliGreen: #0C978B;
$color-laCelesteBlue: #76CFE2;
$color-intiYellow: #FEE011;
$color-sonicSilver: #777777;
$color-white: #FAFAFA;
$color-black: #10100F;

$grid-gutter-width: 24px !default;

html, .root {
  font-size: 16px;
  line-height: 23px;
}

body {
    position: relative;
    padding: 18px;
    background-color: $color-whiteMana;
    width: 100%; 
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
    
    font-size: 1em;
    line-height: 1.4375em;
}

/* TEXT */
h1,h2,h3,h4,h5,h6,p {
    color: $color-black;
}

h1 { 
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 4.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h2 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h3 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 16px;
  margin: 0 0 24px;
}

a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
   
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
}

ul {   
    &.no-bullets {
        list-style-type: none;
        padding: 0;
//        margin-top: 16px;
    }
    li {
        margin-bottom: 8px;
        font-size: 14px;        
        
        span {
            font-weight: 700;
        }        
    }
}

button {
    border: none;
    background: $color-black;
    height: 40px;
    border-radius: 4px;
    color: $color-whiteMana;
    padding: 5px 20px;
    cursor: pointer;
    
    &:hover {
        background: $color-nepaliGreen;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
}

.align-end {
    align-self: flex-end;
}

/* BODY - Background */
#grain{
    z-index:-1;
    content:"";
    position: absolute;
//    width: 300vw;
//    height: 310vh;        
//    left: -50%;
//    top: -50%;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.18;
    background-image: url('/assets/grain-black.png');  
    background-repeat: repeat;
}

.container {
    &.main {
        height: 100%;
        overflow: scroll;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 0 16px 0;
    }    
    
    .side-col {
        padding: 0 0 0 70px;
        margin-top: 40px;
        
        @media screen and (max-width: 990px) {
            padding: 0 16px;
        }
    }
    
    @media screen and (max-width: 990px) {
        .path {
            text-align: center;
        }
    }
}

//HIDE SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* GUI */
#gui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*NAV*/
.navbar {
    justify-content: flex-end;
    padding: 20px;
}

.navbar-light .navbar-toggler {
    color: $color-black;
    border: none;
    
    @media screen and (max-width: 990px) {
//        &[aria-expanded="true"], .collapsed{
          background-color: transparent;
//        }
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $color-black;
    font-weight: 400;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $color-nepaliGreen;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.nav-link {
    &:focus {
        border-radius: 4px;
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
}


.navbar-collapse {
    justify-content: flex-end;
    
    .navbar-nav {
        display: flex;
        align-items: center;
        
        li {
            padding: 0 10px;
            
            &.social {
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
    
    @media screen and (max-width: 990px) {
        text-align: right;
        background: $color-nepaliGreen;
        padding: 32px;
        font-size: 20px;
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        
        .navbar-nav {
            li {
                padding: 5% 0;
                
                a {
                    color: $color-whiteMana !important;
                    font-size: 18px;                    
                }
                
                &.social {
                    height: 60px;
                }
            }
        }
    }    
}

/*SOCIAL*/
.social {
    a {
        height: 20px;

        &:focus {
            border-radius: 4px;
            box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
            outline: 0px;

            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
        }

        &.insta {
            &:focus {
                border-radius: 6px;
            }
        }
    }

    .icon {
        width: 20px;
        height: auto;

        &:hover {
            fill: $color-nepaliGreen;
            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;
        }

        @media screen and (max-width: 990px) {
            fill: $color-whiteMana;

            &:hover {
                fill: $color-intiYellow;
            }
        }
    }    
}

//.navbar-expand-lg .navbar-nav {
//    flex-direction: column;
//}


/* LOGO */
#juan {
  display:none; 
}

.logo {
    position: absolute;
    z-index: 2000;
    cursor: pointer;
    width: 48px;
    height: auto;    
    
    &.seed {
        width: 27px;
        bottom: 21px;        
    }
    
    &.primary {   
        top: 18px;
        left: 18px;
    }
    
    &.bottom-left {
        left: 18px;
        bottom: 18px;          
    }
    
    &.bottom-right {
        right: 18px;
        bottom: 18px;          
    }
    
    
}

a.icon-link {
    display: contents;
}


/*DRAWINGS*/
.drawing-wrapper {
    display: flex;
    justify-content: center;
    
    .drawing {
        &.about {
            width: 100%;
            margin: 16px 0 0 0;
            
            @media screen and (max-width: 990px) {
                width: 80%;
                height: 80%;
            }
        }
        
        &.now {
            width: 85%;
            margin: 16px 0 40px 0;
            
            @media screen and (max-width: 990px) {
                height: 85%;
            }
        }
        
        &.contact {
            width: 90%;
            margin: 40px 0 0 0;
            
            @media screen and (max-width: 990px) {
                height: 80%;
                margin: 0 0 40px 0;
            }
        }
    }
}

.profile {
    width: 100%;
    margin-top: 10%;
    
    @media screen and (max-width: 990px) {
        width: 70%;
        display: flex;
        margin: 0 auto;
    }
}


/*FORM*/
form {
    label {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        input, textarea {
            background: none;
            border: 1px solid $color-black;
            border-radius: 4px;
            height: 40px;
            margin-top: 3px;
            padding: 1px 8px;
            
            &:focus, &:active {
                border: 1px solid $color-nepaliGreen;
                box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                outline: 0px;
                
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }
        textarea {
            height: 80px;
        }
    }
    
    button {
        margin: 16px 0 16px;
    }
}
