/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/tsq5whw.css");
/* line 16, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
html, .root {
  font-size: 16px;
  line-height: 23px; }

/* line 21, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
body {
  position: relative;
  padding: 18px;
  background-color: #E9EDD8;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 1em;
  line-height: 1.4375em; }

/* TEXT */
/* line 41, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #10100F; }

/* line 45, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
h1 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 4.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }
  @media screen and (max-width: 768px) {
    /* line 45, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    h1 {
      font-size: 3em;
      padding: 0 16px; } }

/* line 59, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
h2 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 68, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
h3 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 77, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 86, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px; }
  /* line 91, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  p span {
    color: #777777; }
  @media screen and (max-width: 768px) {
    /* line 86, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    p {
      font-size: 16px;
      padding: 0 16px; } }

/* line 101, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #10100F;
  width: auto !important;
  font-size: 18px;
  font-weight: 600; }
  /* line 110, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  a:hover {
    color: #10100F;
    text-decoration: none; }
  /* line 115, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  a .underline {
    display: block;
    position: absolute;
    bottom: -1.8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #10100F; }
  @media screen and (max-width: 768px) {
    /* line 101, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    a {
      font-size: 16px; } }

/* line 131, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
ul.no-bullets {
  list-style-type: none;
  padding: 0; }

/* line 136, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
ul li {
  margin-bottom: 8px;
  font-size: 16px; }
  /* line 140, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  ul li span {
    font-weight: 700; }

/* line 146, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
button {
  border: none;
  background: #10100F;
  height: 40px;
  border-radius: 4px;
  color: #E9EDD8;
  padding: 5px 20px;
  cursor: pointer; }
  /* line 155, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  button:hover {
    background: #0C978B;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
  /* line 163, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  button:focus {
    box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
    outline: 0px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }

/* line 174, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.align-end {
  align-self: flex-end; }

/* line 179, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

/* GUI */
/* line 185, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
#gui {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }

/*NAV*/
/* line 194, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar {
  justify-content: flex-end;
  padding: 16px; }
  @media screen and (max-width: 990px) {
    /* line 194, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .navbar {
      padding: 16px; } }

/* line 206, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar-light .navbar-toggler {
  color: #10100F;
  border: none; }
  @media screen and (max-width: 990px) {
    /* line 206, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .navbar-light .navbar-toggler {
      background-color: transparent; } }

/* line 217, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar-light .navbar-nav .nav-link {
  color: #10100F;
  font-weight: 400; }

/* line 222, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-weight: 700;
  color: #10100F; }

/* line 227, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #0C978B;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out; }

/* line 236, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.nav-link:focus {
  border-radius: 4px;
  box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/* line 249, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.navbar-collapse {
  justify-content: flex-end; }
  /* line 252, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .navbar-collapse .navbar-nav {
    display: flex;
    align-items: center; }
    /* line 256, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .navbar-collapse .navbar-nav li {
      padding: 0 10px;
      margin-bottom: 0; }
      /* line 260, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .navbar-collapse .navbar-nav li a {
        font-size: 16px; }
      /* line 264, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .navbar-collapse .navbar-nav li.social {
        height: 40px;
        display: flex;
        align-items: center; }
  @media screen and (max-width: 990px) {
    /* line 249, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .navbar-collapse {
      text-align: right;
      background: #10100F;
      padding: 32px;
      font-size: 20px;
      width: 100%;
      position: absolute;
      top: 64px;
      right: 0; }
      /* line 283, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .navbar-collapse .navbar-nav li {
        padding: 5% 0; }
        /* line 286, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
        .navbar-collapse .navbar-nav li a {
          color: #E9EDD8 !important;
          font-size: 18px; }
        /* line 291, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
        .navbar-collapse .navbar-nav li.social {
          height: 60px; } }

/*SOCIAL*/
/* line 301, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.social a {
  height: 20px; }
  /* line 304, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .social a:focus {
    border-radius: 4px;
    box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
    outline: 0px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
  /* line 316, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .social a.insta:focus {
    border-radius: 6px; }

/* line 322, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.social .icon {
  width: 20px;
  height: auto; }
  /* line 326, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .social .icon:hover {
    fill: #0C978B;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
  @media screen and (max-width: 990px) {
    /* line 322, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .social .icon {
      fill: #E9EDD8; }
      /* line 337, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .social .icon:hover {
        fill: #FEE011; } }

/* LOGO */
/* line 350, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.logo {
  position: fixed;
  cursor: pointer;
  width: 48px;
  height: auto;
  z-index: 1040; }
  /* line 357, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .logo.primary {
    top: 18px;
    left: 18px; }
  /* line 362, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .logo.bottom-left {
    left: 18px;
    bottom: 18px; }
  /* line 367, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .logo.bottom-right {
    right: 18px;
    bottom: 18px; }
  /* line 372, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .logo.seed {
    width: 27px;
    bottom: 21px;
    fill: #10100F; }
  @media screen and (max-width: 990px) {
    /* line 350, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .logo {
      width: 40px; } }

/* line 383, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
a.icon-link {
  display: contents; }

/*FORM*/
@media screen and (max-width: 768px) {
  /* line 388, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  form {
    padding: 0 16px; } }

/* line 393, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
form label {
  display: flex;
  flex-direction: column;
  width: 100%; }
  /* line 398, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  form label input, form label textarea {
    background: none;
    border: 1px solid #10100F;
    border-radius: 4px;
    height: 40px;
    margin-top: 3px;
    padding: 1px 8px; }
    /* line 406, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    form label input:focus, form label input:active, form label textarea:focus, form label textarea:active {
      border: 1px solid #0C978B;
      box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
      outline: 0px;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
  /* line 417, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  form label textarea {
    height: 80px; }

/* line 422, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
form button {
  margin: 16px 0 16px; }

/* BODY - Background */
@media screen and (max-width: 768px) {
  /* line 428, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .container {
    padding: 0; } }

/* line 433, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
.container .row {
  height: 80vh;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    /* line 433, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .container .row {
      height: 70vh; }
      /* line 441, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row div {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  /* line 448, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .container .row .drawingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh; }
    @media screen and (max-width: 768px) {
      /* line 454, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row .drawingWrapper img {
        width: 100%; } }
  /* line 460, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .container .row.inner {
    height: 100vh; }
    @media screen and (max-width: 768px) {
      /* line 460, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row.inner {
        background: url("../assets/inner.svg") no-repeat;
        background-position: center;
        background-size: 160vw;
        margin: 0 -18px; } }
    /* line 470, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
    .container .row.inner div {
      position: relative; }
      /* line 473, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row.inner div p {
        color: #E9EDD8; }
      /* line 477, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row.inner div .bkg {
        position: absolute;
        z-index: -1;
        left: -25vw;
        top: -10vh; }
        @media screen and (max-width: 768px) {
          /* line 477, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
          .container .row.inner div .bkg {
            display: none; } }
  /* line 490, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
  .container .row#contact, .container .row.about {
    height: 100vh; }
    @media screen and (max-width: 768px) {
      /* line 490, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
      .container .row#contact, .container .row.about {
        height: auto;
        margin-bottom: 7vh; } }

/* line 501, /Users/juanmanuelynz/Creative Cloud Files/Juan/juanmanuelynz.github.io/css/style.scss */
#grain {
  z-index: -2;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.18;
  background-image: url("/assets/grain-black.png");
  background-repeat: repeat; }

/*# sourceMappingURL=style.css.map */