/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: particular;
    src: url(/assets/Particularfont-Regular.ttf);
    font-style: normal;
}

/* Framework import - BULMA */
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

/* Variables */
$color-whiteMana: #E9EDD8;
$color-lorange: #F26A25;
$color-nepaliGreen: #0C978B;
$color-laCelesteBlue: #76CFE2;
$color-intiYellow: #FEE011;
$color-sonicSilver: #777777;
$color-white: #FAFAFA;
$color-black: #10100F;

* {
    box-sizing: border-box;
  }

html, .root {
  font-size: 16px;
  line-height: 23px;
  background-color: $color-whiteMana;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding: 18px;    
    width: 100%; 
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
    
    font-size: 1em;
    line-height: 1.4375em;
}

#grain{
    z-index:-2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.18;
    background-image: url('/assets/grain-black.png');  
    background-repeat: repeat;
}


/* TEXT */
h1,h2,h3,h4,h5,h6,p {
    color: $color-black;
}

h1 { 
  font-family: particular, serif;
  font-size: 64px;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
    
    @media screen and (max-width: 768px) {
        font-size: 56px;
    }
}

h2 {
  font-family: particular, serif;
  font-size: 48px;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;  
}

h3 {
  font-family: particular, serif;
  font-size: 32px;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 18px;
  margin: 24px 0;

    span {
        color: $color-sonicSilver;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

ul {   
    &.no-bullets {
        list-style-type: none;
        padding: 0;
//        margin-top: 16px;
    }
    li {
        margin-bottom: 8px;
        font-size: 16px;        
        
        span {
            font-weight: 700;
        }        
    }
}

a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    font-size: 18px;
    font-weight: 600;
    
    &:hover {
        color: $color-black;
        text-decoration: none;
    }

    &:focus:not(:active) {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;
        border-radius: 6px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
   
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
    
     @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
a.icon-link {
    display: contents;
}

button, 
.button {
    font-weight: 400;
    font-size: 18px;
    border: none;
    background: $color-black;    
    border-radius: 6px;
    color: $color-whiteMana;
    padding: 10px 32px;
    cursor: pointer;
    text-align: center;  
    
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    
    &:hover {
        color: $color-whiteMana;
        background: $color-nepaliGreen;        
    }
    
    &:focus:not(:active) {
        color: $color-whiteMana;
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;       
    }

    &.alternative {
        background: transparent;
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
        border: 2px solid $color-black;
        color: $color-black;

        &:hover {
            color: $color-whiteMana;
            border-color: $color-nepaliGreen;
            background: $color-nepaliGreen;
        }

        &:focus:not(:active) {
            color: $color-black;
        }
    }
}

.align-end {
    align-self: flex-end;
}

//HIDE SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/*NAV*/
.navbar {
        /*GLASS*/
//        background: rgba(255, 255, 255, 0.18);    
//        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//        border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 16px 24px;

    .heart {
        width: 48px;
        height: auto;

        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        
        &:hover {
            transform: scale(1.1);
        }
        
        @media screen and (max-width: 990px) {
            width: 40px;        
        }    
    }

    .navbar-burger {
        color: $color-black;
        width: 3.25rem !important;
    }

    .blured {
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
        border-radius: 100%;
    }

    .navbar-end {
        border-radius: 11px;
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
        display: flex;
        align-items: center;

        .navbar-item {
            color: $color-black;
            font-size: 16px;

            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;

            &:hover {
                color: $color-nepaliGreen;                
            }

            &:focus {
                border-radius: 4px;
                box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                outline: 0px;               
            }

            &.social {
                &:hover {
                    .icon {
                        fill: $color-nepaliGreen;
                    }                    
                }

                &:focus {
                    .instagram {
                        border-radius: 6px;
                    }
                }
            }

            .lang {
                color: $color-black;
                font-size: 14px;
                padding: 5px 8px;
                -webkit-appearance: none;
                background-color: transparent;
                border: 1.5px solid $color-black;
                border-color: $color-black;
                border-radius: 4px;

                -webkit-transition: all 250ms ease-out;
                -moz-transition: all 250ms ease-out;
                -o-transition: all 250ms ease-out;
                transition: all 250ms ease-out;
        
                @media screen and (max-width: 990px) {
                    border-color: $color-whiteMana;
                    color: $color-whiteMana;
                }
        
                &:hover {
                    color: $color-nepaliGreen;  
                    border-color: $color-nepaliGreen;                  
                }
        
                &:focus {
                    box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                    outline: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .navbar-menu.is-active {
            // background: transparent;
            // backdrop-filter: blur(4.2px);
            // -webkit-backdrop-filter: blur(4.2px);
            background: $color-black;
            padding: 32px 0;
            border-radius: 18px;
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.33), 0 -3px 9px rgba(0, 0, 0, 0.33);

            .navbar-end {
                flex-direction: column;
                gap: 16px;


                .navbar-item {
                    color: $color-whiteMana;

                    &:active {
                        color: $color-nepaliGreen;
                    }

                    &:hover, 
                    &:focus {
                        background: transparent;
                    }

                    &.social {
                        .icon {
                            fill: $color-whiteMana;
                        }

                        &:active {
                            .icon {
                                fill: $color-nepaliGreen;
                            }                    
                        }
                    }
                }
            }
        }
    }            
}

/*FORM*/
form {
    @media screen and (max-width: 768px) {
        padding: 0 16px;
    }
    
    label {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        input, textarea {
            background: none;
            border: 1px solid $color-black;
            border-radius: 4px;
            height: 40px;
            margin-top: 3px;
            padding: 1px 8px;
            
            &:focus, &:active {
                border: 1px solid $color-nepaliGreen;
                box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                outline: 0px;
                
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }
        textarea {
            height: 80px;
        }
    }
    
    button, .button {
        margin: 16px 0 16px;
    }
}

/* SECTIONs */
section {
    &.is-large {
        padding-top: 14em !important;
        padding-bottom: 14em !important;
    }
}

.story {

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imgWrap {
        filter: drop-shadow(0 3px 9px rgba(0, 0, 0, 0.33));
        display: flex;
        justify-content: center;
    }

    img {
        width: 80%;
        height: auto;
        -webkit-clip-path: url(#atomClip);
        clip-path: url(#atomClip);
    }

    p {
        white-space: pre-line;
        text-align: justify;
    }

    .button {
        align-self: flex-start;
    }
}

footer {
    display: flex;
    justify-content: center;

    .symbol {
        width: 36px;

        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        
        &:hover {
            transform: scale(1.1);
            fill: $color-lorange;
        }
    }
}